<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eim.project.energy.mapper.ConsumptionGroupMapper">
    <resultMap id="BaseResultMap" type="com.eim.project.energy.entity.ConsumptionGroup">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tag_name" jdbcType="NVARCHAR" property="tagName"/>
        <result column="measure_level" jdbcType="INTEGER" property="measureLevel"/>
        <result column="building_id" jdbcType="INTEGER" property="buildingId"/>
        <result column="building_name" jdbcType="INTEGER" property="buildingName"/>
        <result column="device_type" jdbcType="INTEGER" property="deviceType"/>
        <result column="energy_type_id" jdbcType="INTEGER" property="energyTypeId"/>
        <result column="energy_type_name" jdbcType="NVARCHAR" property="energyTypeName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, tag_name, measure_level, device_type
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from S1_consumption_group
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByTagName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from S1_consumption_group
        where tag_name = #{tagName,jdbcType=NVARCHAR}
    </select>
    <select id="selectConsumptionGroupList" resultMap="BaseResultMap">
        SELECT
        A.cgId id,
        tag_name,
        measure_level,
        building_id,
        building_name,
        device_type,
        A.energy_type_id,
        energy_type_name
        FROM
        consumption_group_info A
        <where>
            <if test="tagName!=null">
                and tag_name like concat('%', #{tagName}, '%')
            </if>
            <if test="deviceType!=null">
                AND A.device_type = #{deviceType, jdbcType=INTEGER}
            </if>
            <if test="measureLevel!=null and measureLevel!=''">
                AND A.measure_level = #{measureLevel, jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY building_id ASC
    </select>
    <delete id="deleteByIds" parameterType="java.lang.Integer">
        delete from S1_consumption_group where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from S1_consumption_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.eim.project.energy.entity.ConsumptionGroup">
    insert into S1_consumption_group (id, tag_name, measure_level, device_type
      )
    values (#{id,jdbcType=INTEGER}, #{tagName,jdbcType=NVARCHAR}, #{measureLevel,jdbcType=INTEGER}, 
     #{deviceType,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.eim.project.energy.entity.ConsumptionGroup">
        insert into S1_consumption_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tagName != null">
                tag_name,
            </if>
            <if test="measureLevel != null">
                measure_level,
            </if>
            <if test="deviceType != null">
                device_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tagName != null">
                #{tagName,jdbcType=NVARCHAR},
            </if>
            <if test="measureLevel != null">
                #{measureLevel,jdbcType=INTEGER},
            </if>
            <if test="deviceType != null">
                #{deviceType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.eim.project.energy.entity.ConsumptionGroup">
        update S1_consumption_group
        <set>
            <if test="tagName != null">
                tag_name = #{tagName,jdbcType=NVARCHAR},
            </if>
            <if test="measureLevel != null">
                measure_level = #{measureLevel,jdbcType=INTEGER},
            </if>
            <if test="deviceType != null">
                device_type = #{deviceType,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.eim.project.energy.entity.ConsumptionGroup">
    update S1_consumption_group
    set tag_name = #{tagName,jdbcType=NVARCHAR},
      measure_level = #{measureLevel,jdbcType=INTEGER},
      device_type = #{deviceType,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>