<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eim.project.energy.mapper.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.eim.project.energy.entity.Device">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="plant_id" jdbcType="INTEGER" property="plantId"/>
        <result column="company_name" jdbcType="NVARCHAR" property="companyName"/>
        <result column="plant_name" jdbcType="NVARCHAR" property="plantName"/>
        <result column="building_id" jdbcType="INTEGER" property="buildingId"/>
        <result column="building_name" jdbcType="NVARCHAR" property="buildingName"/>
        <result column="device_code" jdbcType="NVARCHAR" property="deviceCode"/>
        <result column="device_name" jdbcType="NVARCHAR" property="deviceName"/>
        <result column="device_company" jdbcType="NVARCHAR" property="deviceCompany"/>
        <result column="device_spec" jdbcType="NVARCHAR" property="deviceSpec"/>
        <result column="location" jdbcType="NVARCHAR" property="location"/>
        <result column="comm_protocol" jdbcType="NVARCHAR" property="commProtocol"/>
        <result column="comm_param" jdbcType="NVARCHAR" property="commParam"/>
        <result column="comm_link" jdbcType="NVARCHAR" property="commLink"/>
        <result column="device_description" jdbcType="NVARCHAR" property="deviceDescription"/>
        <result column="create_by" jdbcType="NVARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="NVARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, building_id, device_code, device_name, device_company,
    device_spec, [location], comm_protocol, comm_param, comm_link, device_description, 
    create_by, create_time, update_by, update_time
    </sql>
    <select id="selectDeviceList" resultMap="BaseResultMap">
        SELECT
            A.id,
            company_name,
            plant_name,
            building_name,
            device_code,
            device_name,
            device_company,
            device_spec,
            A.[location],
            comm_protocol,
            comm_param,
            comm_link,
            device_description,
            A.create_by,
            A.create_time,
            A.update_by,
            A.update_time
        FROM
            O_4Device A
            JOIN O_3Building B ON A.building_id = B.id
            JOIN O_2Plant C ON B.plant_id = C.id
            JOIN O_1Company D ON C.company_id = D.id
    </select>
    <select id="selectByDeviceCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from O_4Device
        where device_code = #{deviceCode,jdbcType=NVARCHAR}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            A.id,
            company_id,
            plant_id,
            building_id,
            device_code,
            device_name,
            device_company,
            device_spec,
            [location],
            comm_protocol,
            comm_param,
            comm_link,
            device_description,
            A.create_by,
            A.create_time,
            A.update_by,
            A.update_time
        FROM
            O_4Device A
        JOIN O_3Building B ON A.building_id = B.id
        JOIN O_2Plant C ON B.plant_id = C.id
        where A.id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from O_4Device
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByIds" parameterType="java.lang.Integer">
        delete from O_4Device where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.eim.project.energy.entity.Device">
    insert into O_4Device (id,
      building_id, device_code, device_name, 
      device_company, device_spec, [location], 
      comm_protocol, comm_param, comm_link, 
      device_description, create_by, create_time, 
      update_by, update_time)
    values (#{id,jdbcType=INTEGER},
      #{buildingId,jdbcType=INTEGER}, #{deviceCode,jdbcType=NVARCHAR}, #{deviceName,jdbcType=NVARCHAR}, 
      #{deviceCompany,jdbcType=NVARCHAR}, #{deviceSpec,jdbcType=NVARCHAR}, #{location,jdbcType=NVARCHAR}, 
      #{commProtocol,jdbcType=NVARCHAR}, #{commParam,jdbcType=NVARCHAR}, #{commLink,jdbcType=NVARCHAR}, 
      #{deviceDescription,jdbcType=NVARCHAR}, #{createBy,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=NVARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.eim.project.energy.entity.Device">
        insert into O_4Device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="buildingId != null">
                building_id,
            </if>
            <if test="deviceCode != null">
                device_code,
            </if>
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="deviceCompany != null">
                device_company,
            </if>
            <if test="deviceSpec != null">
                device_spec,
            </if>
            <if test="location != null">
                [location],
            </if>
            <if test="commProtocol != null">
                comm_protocol,
            </if>
            <if test="commParam != null">
                comm_param,
            </if>
            <if test="commLink != null">
                comm_link,
            </if>
            <if test="deviceDescription != null">
                device_description,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="buildingId != null">
                #{buildingId,jdbcType=INTEGER},
            </if>
            <if test="deviceCode != null">
                #{deviceCode,jdbcType=NVARCHAR},
            </if>
            <if test="deviceName != null">
                #{deviceName,jdbcType=NVARCHAR},
            </if>
            <if test="deviceCompany != null">
                #{deviceCompany,jdbcType=NVARCHAR},
            </if>
            <if test="deviceSpec != null">
                #{deviceSpec,jdbcType=NVARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=NVARCHAR},
            </if>
            <if test="commProtocol != null">
                #{commProtocol,jdbcType=NVARCHAR},
            </if>
            <if test="commParam != null">
                #{commParam,jdbcType=NVARCHAR},
            </if>
            <if test="commLink != null">
                #{commLink,jdbcType=NVARCHAR},
            </if>
            <if test="deviceDescription != null">
                #{deviceDescription,jdbcType=NVARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=NVARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=NVARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.eim.project.energy.entity.Device">
        update O_4Device
        <set>
            <if test="buildingId != null">
                building_id = #{buildingId,jdbcType=INTEGER},
            </if>
            <if test="deviceCode != null">
                device_code = #{deviceCode,jdbcType=NVARCHAR},
            </if>
            <if test="deviceName != null">
                device_name = #{deviceName,jdbcType=NVARCHAR},
            </if>
            <if test="deviceCompany != null">
                device_company = #{deviceCompany,jdbcType=NVARCHAR},
            </if>
            <if test="deviceSpec != null">
                device_spec = #{deviceSpec,jdbcType=NVARCHAR},
            </if>
            <if test="location != null">
                [location] = #{location,jdbcType=NVARCHAR},
            </if>
            <if test="commProtocol != null">
                comm_protocol = #{commProtocol,jdbcType=NVARCHAR},
            </if>
            <if test="commParam != null">
                comm_param = #{commParam,jdbcType=NVARCHAR},
            </if>
            <if test="commLink != null">
                comm_link = #{commLink,jdbcType=NVARCHAR},
            </if>
            <if test="deviceDescription != null">
                device_description = #{deviceDescription,jdbcType=NVARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=NVARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=NVARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.eim.project.energy.entity.Device">
    update O_4Device
    set
      building_id = #{buildingId,jdbcType=INTEGER},
      device_code = #{deviceCode,jdbcType=NVARCHAR},
      device_name = #{deviceName,jdbcType=NVARCHAR},
      device_company = #{deviceCompany,jdbcType=NVARCHAR},
      device_spec = #{deviceSpec,jdbcType=NVARCHAR},
      [location] = #{location,jdbcType=NVARCHAR},
      comm_protocol = #{commProtocol,jdbcType=NVARCHAR},
      comm_param = #{commParam,jdbcType=NVARCHAR},
      comm_link = #{commLink,jdbcType=NVARCHAR},
      device_description = #{deviceDescription,jdbcType=NVARCHAR},
      create_by = #{createBy,jdbcType=NVARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=NVARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>