<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eim.project.energy.mapper.ReportMapper">
    <select id="selectHistoryOfYearDosage" resultType="map" parameterType="map">
        SELECT
        a.plant_name plantName,
        a.building_name buildingName,
        a.system_name systemName,
        a.device_name deviceName,
        a.meter_code meterCode,
        a.tag_name tagName,
        a.energy_type_name energyTypeName,
        b.TagValue tagValue,
        a.Description description,
        b.[datatime] dataTime
        FROM
        dbo.Variable_Info a,
        dbo.T_daydata b
        <where>
            b.TagName = a.tag_name
            AND a.[disable] != 1
            AND a.total_flag = 1
            AND YEAR ( b.DataTime ) = YEAR ( #{queryTime} )
            AND b.DataTime = (
            SELECT MAX
            ( c.DataTime )
            FROM
            dbo.T_daydata c
            WHERE
            b.tagname = c.tagname
            AND YEAR ( c.DataTime ) = YEAR ( #{queryTime} )
            )
            <if test="energyTypeId !=null">
                AND a.energy_type_id = #{energyTypeId, jdbcType=INTEGER}
            </if>
            <if test="systemId !=null">
                AND a.system_id = #{systemId, jdbcType=INTEGER}
            </if>
            <if test="companyId !=null">
                AND a.company_id = #{companyId, jdbcType=INTEGER}
            </if>
            <if test="plantId !=null">
                AND a.plant_id = #{plantId, jdbcType=INTEGER}
            </if>
            <if test="buildingId !=null and buildingId.size>0">
                AND a.building_id in
                <foreach item="item" index="index" collection="buildingId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="deviceId !=null and deviceId.size>0">
                AND a.device_id in
                <foreach item="item" index="index" collection="deviceId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="meterId !=null and meterId.size>0">
                AND a.meter_id in
                <foreach item="item" index="index" collection="meterId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by buildingName asc
    </select>
    <select id="selectHistoryOfMonthDosage" resultType="map" parameterType="map">
        SELECT
        a.plant_name plantName,
        a.building_name buildingName,
        a.system_name systemName,
        a.device_name deviceName,
        a.meter_code meterCode,
        a.tag_name tagName,
        a.energy_type_name energyTypeName,
        b.TagValue tagValue,
        a.Description description,
        b.[datatime] dataTime
        FROM
        dbo.Variable_Info a,
        dbo.T_daydata b
        <where>
            b.TagName = a.tag_name
            AND a.[disable] != 1
            AND a.total_flag = 1
            AND YEAR ( b.DataTime ) = YEAR ( #{queryTime} )
            AND MONTH ( b.DataTime ) = MONTH ( #{queryTime} )
            AND b.DataTime = (
            SELECT MAX
            ( c.DataTime )
            FROM
            dbo.T_daydata c
            WHERE
            b.tagname = c.tagname
            AND YEAR ( c.DataTime ) = YEAR ( #{queryTime} )
            AND MONTH ( c.DataTime ) = MONTH ( #{queryTime} )
            )
            <if test="energyTypeId !=null">
                AND a.energy_type_id = #{energyTypeId, jdbcType=INTEGER}
            </if>
            <if test="systemId !=null">
                AND a.system_id = #{systemId, jdbcType=INTEGER}
            </if>
            <if test="companyId !=null">
                AND a.company_id = #{companyId, jdbcType=INTEGER}
            </if>
            <if test="plantId !=null">
                AND a.plant_id = #{plantId, jdbcType=INTEGER}
            </if>
            <if test="buildingId !=null and buildingId.size>0">
                AND a.building_id in
                <foreach item="item" index="index" collection="buildingId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="deviceId !=null and deviceId.size>0">
                AND a.device_id in
                <foreach item="item" index="index" collection="deviceId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="meterId !=null and meterId.size>0">
                AND a.meter_id in
                <foreach item="item" index="index" collection="meterId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by buildingName asc
    </select>
    <select id="selectHistoryOfDayDosage" resultType="map" parameterType="map">
        SELECT
        a.plant_name plantName,
        a.building_name buildingName,
        a.system_name systemName,
        a.device_name deviceName,
        a.meter_code meterCode,
        a.tag_name tagName,
        a.energy_type_name energyTypeName,
        b.TagValue tagValue,
        a.Description description,
        b.[datatime] dataTime
        FROM
        dbo.Variable_Info a,
        dbo.T_HourData b
        <where>
            b.TagName = a.tag_name
            AND a.[disable] != 1
            AND a.total_flag = 1
            AND YEAR ( b.DataTime ) = YEAR ( #{queryTime} )
            AND MONTH ( b.DataTime ) = MONTH ( #{queryTime} )
            AND DAY ( b.DataTime ) = DAY ( #{queryTime} )
            AND b.DataTime = (
            SELECT MAX
            ( c.DataTime )
            FROM
            dbo.T_HourData c
            WHERE
            b.tagname = c.tagname
            AND YEAR ( c.DataTime ) = YEAR ( #{queryTime} )
            AND MONTH ( c.DataTime ) = MONTH ( #{queryTime} )
            AND DAY ( c.DataTime ) = DAY ( #{queryTime} )
            )
            <if test="energyTypeId !=null">
                AND a.energy_type_id = #{energyTypeId, jdbcType=INTEGER}
            </if>
            <if test="systemId !=null">
                AND a.system_id = #{systemId, jdbcType=INTEGER}
            </if>
            <if test="companyId !=null">
                AND a.company_id = #{companyId, jdbcType=INTEGER}
            </if>
            <if test="plantId !=null">
                AND a.plant_id = #{plantId, jdbcType=INTEGER}
            </if>
            <if test="buildingId !=null and buildingId.size>0">
                AND a.building_id in
                <foreach item="item" index="index" collection="buildingId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="deviceId !=null and deviceId.size>0">
                AND a.device_id in
                <foreach item="item" index="index" collection="deviceId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="meterId !=null and meterId.size>0">
                AND a.meter_id in
                <foreach item="item" index="index" collection="meterId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by buildingName asc
    </select>
    <select id="selectHistoryOfHourDosage" resultType="map" parameterType="map">
        SELECT
        a.plant_name plantName,
        a.building_name buildingName,
        a.system_name systemName,
        a.device_name deviceName,
        a.meter_code meterCode,
        a.tag_name tagName,
        a.energy_type_name energyTypeName,
        b.TagValue tagValue,
        a.Description description,
        b.[datatime] dataTime
        FROM
        dbo.Variable_Info a,
        dbo.T_MinuteData b
        <where>
            b.TagName = a.tag_name
            AND a.[disable] != 1
            AND a.total_flag = 1
            AND YEAR ( b.DataTime ) = YEAR ( #{queryTime} )
            AND MONTH ( b.DataTime ) = MONTH ( #{queryTime} )
            AND DAY ( b.DataTime ) = DAY ( #{queryTime} )
            AND DATENAME(HOUR, b.DataTime) = DATENAME(HOUR, #{queryTime} )
            AND b.DataTime = (
            SELECT MAX
            ( c.DataTime )
            FROM
            dbo.T_MinuteData c
            WHERE
            b.tagname = c.tagname
            AND YEAR ( c.DataTime ) = YEAR ( #{queryTime} )
            AND MONTH ( c.DataTime ) = MONTH ( #{queryTime} )
            AND DAY ( c.DataTime ) = DAY ( #{queryTime} )
            AND DATENAME(HOUR, c.DataTime) = DATENAME(HOUR, #{queryTime} )
            )
            <if test="energyTypeId !=null">
                AND a.energy_type_id = #{energyTypeId, jdbcType=INTEGER}
            </if>
            <if test="systemId !=null">
                AND a.system_id = #{systemId, jdbcType=INTEGER}
            </if>
            <if test="companyId !=null">
                AND a.company_id = #{companyId, jdbcType=INTEGER}
            </if>
            <if test="plantId !=null">
                AND a.plant_id = #{plantId, jdbcType=INTEGER}
            </if>
            <if test="buildingId !=null and buildingId.size>0">
                AND a.building_id in
                <foreach item="item" index="index" collection="buildingId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="deviceId !=null and deviceId.size>0">
                AND a.device_id in
                <foreach item="item" index="index" collection="deviceId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="meterId !=null and meterId.size>0">
                AND a.meter_id in
                <foreach item="item" index="index" collection="meterId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by buildingName asc
    </select>
    <select id="selectMonthDosageOfWater" resultType="map" parameterType="map">
        SELECT
        plant_id plantId,
        plant_name plantName,
        building_name buildingName,
        T.TagName tagName,
        T.currentMonthValue,
        T.preMonthValue
        FROM
        Variable_Info VI,
        (
        SELECT
        M.TagName,
        currentMonthValue,
        preMonthValue
        FROM
        (
        SELECT
        X.TagName,
        ISNULL( Y.TagValue, 0 ) currentMonthValue
        FROM
        ( SELECT DISTINCT TagName FROM T_DayData ) X
        LEFT JOIN (
        SELECT
        TagName,
        TagValue
        FROM
        T_DayData A
        WHERE
        DataTime = (
        SELECT MAX
        ( DataTime )
        FROM
        T_DayData B
        WHERE
        A.TagName = B.TagName
        AND CONVERT ( VARCHAR ( 7 ), B.DataTime , 120 ) = CONVERT ( VARCHAR ( 7 ), #{queryTime}, 120 )
        )
        ) Y ON X.TagName = Y.TagName
        ) M
        JOIN (
        SELECT
        X.TagName,
        ISNULL( Y.TagValue, 0 ) preMonthValue
        FROM
        ( SELECT DISTINCT TagName FROM T_DayData ) X
        LEFT JOIN (
        SELECT
        TagName,
        TagValue
        FROM
        T_DayData A
        WHERE
        DataTime = (
        SELECT MAX
        ( DataTime )
        FROM
        T_DayData B
        WHERE
        A.TagName = B.TagName
        AND CONVERT ( VARCHAR ( 7 ), B.DataTime , 120 ) = CONVERT ( VARCHAR ( 7 ), dateadd(month,-1,#{queryTime}), 120 )
        )
        ) Y ON X.TagName = Y.TagName
        ) N ON M.TagName = N.TagName
        ) T
        WHERE
        T.TagName = VI.tag_name
        AND VI.[disable]!= 1
        AND VI.total_flag = 1
        AND VI.energy_type_name = '水'
        <if test="plantId!=null">
            AND VI.plant_id = #{plantId, jdbcType=INTEGER}
        </if>
        ORDER BY building_name ASC
    </select>
    <select id="selectMonthDosageOfElectricity" parameterType="map" resultType="map">
        SELECT
            plant_id plantId,
            plant_name plantName,
            building_name buildingName,
            device_name deviceName,
            meter_code meterCode,
            meter_location meterLocation,
            meter_spec meterSpec,
            T.TagName tagName,
            T.currentMonthValue,
            T.preMonthValue,
            T.fValue,
            T.pValue,
            T.gValue
        FROM
            Variable_Info VI,
            (
            SELECT
                M.TagName,
                currentMonthValue,
                preMonthValue,
                fValue,
                gValue,
                pValue
            FROM
                (
                SELECT
                    X.TagName,
                    ISNULL( Y.TagValue, 0 ) currentMonthValue
                FROM
                    ( SELECT DISTINCT TagName FROM T_DayData ) X
                    LEFT JOIN (
                    SELECT
                        TagName,
                        TagValue
                    FROM
                        T_DayData A
                    WHERE
                        DataTime = (
                        SELECT MAX
                            ( DataTime )
                        FROM
                            T_DayData B
                        WHERE
                            A.TagName = B.TagName
                            AND CONVERT ( VARCHAR ( 7 ), B.DataTime , 120 ) = CONVERT ( VARCHAR ( 7 ), #{queryTime}, 120 )
                        )
                    ) Y ON X.TagName = Y.TagName
                ) M
                JOIN (
                SELECT
                    X.TagName,
                    ISNULL( Y.TagValue, 0 ) preMonthValue
                FROM
                    ( SELECT DISTINCT TagName FROM T_DayData ) X
                    LEFT JOIN (
                    SELECT
                        TagName,
                        TagValue
                    FROM
                        T_DayData A
                    WHERE
                        DataTime = (
                        SELECT MAX
                            ( DataTime )
                        FROM
                            T_DayData B
                        WHERE
                            A.TagName = B.TagName
                            AND CONVERT ( VARCHAR ( 7 ), B.DataTime , 120 ) = CONVERT ( VARCHAR ( 7 ), dateadd( MONTH,- 1, #{queryTime} ), 120 )
                        )
                    ) Y ON X.TagName = Y.TagName
                ) N ON M.TagName = N.TagName
                JOIN (
                SELECT
                    X.TagName,
                    ISNULL( Y.FValue, 0 ) fValue,
                    ISNULL( Y.PValue, 0 ) pValue,
                    ISNULL( Y.GValue, 0 ) gValue
                FROM
                    ( SELECT DISTINCT TagName FROM T_DayData ) X
                    LEFT JOIN (
                    SELECT
                        TagName,
                        FValue,
                        PValue,
                        GValue
                    FROM
                        T_DayDataJFPG A
                    WHERE
                        DataTime = (
                        SELECT MAX
                            ( DataTime )
                        FROM
                            T_DayData B
                        WHERE
                            A.TagName = B.TagName
                            AND CONVERT ( VARCHAR ( 7 ), B.DataTime , 120 ) = CONVERT ( VARCHAR ( 7 ), #{queryTime}, 120 )
                        )
                    ) Y ON X.TagName = Y.TagName
                ) O ON O.TagName = M.TagName
            ) T
        WHERE
            T.TagName = VI.tag_name
            AND VI.[disable] != 1
            AND VI.total_flag = 1
            AND VI.energy_type_name = '电'
            <if test="plantId !=null">
                AND VI.plant_id = #{plantId, jdbcType=INTEGER}
            </if>
            <if test="buildingId !=null and buildingId.size>0">
                AND VI.building_id in
                <foreach item="item" index="index" collection="buildingId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="deviceId !=null and deviceId.size>0">
                AND VI.device_id in
                <foreach item="item" index="index" collection="deviceId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="meterId !=null and meterId.size>0">
                AND VI.meter_id in
                <foreach item="item" index="index" collection="meterId"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        ORDER BY
            building_name ASC
    </select>
    <select id="selectMonthSettlement" parameterType="map" resultType="map">
        SELECT
        VI.plant_id plantId,
        ( SELECT plant_name FROM O_2Plant WHERE id = plant_id ) plantName,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN currentMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN preMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        preWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN currentMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN preMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        preElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN currentMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN preMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        preAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN currentMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentSteamSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN preMonthValue ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        preSteamSumValue
        FROM
        Variable_Info VI,
        (
        SELECT
        M.TagName,
        currentMonthValue,
        preMonthValue
        FROM
        (
        SELECT
        X.TagName,
        ISNULL( Y.TagValue, 0 ) currentMonthValue
        FROM
        ( SELECT DISTINCT TagName FROM T_DayData ) X
        LEFT JOIN (
        SELECT
        TagName,
        TagValue
        FROM
        T_DayData A
        WHERE
        DataTime = (
        SELECT MAX
        ( DataTime )
        FROM
        T_DayData B
        WHERE
        A.TagName = B.TagName
        AND CONVERT ( VARCHAR ( 7 ), B.DataTime , 120 ) = CONVERT ( VARCHAR ( 7 ), #{queryTime}, 120 )
        )
        ) Y ON X.TagName = Y.TagName
        ) M
        JOIN (
        SELECT
        X.TagName,
        ISNULL( Y.TagValue, 0 ) preMonthValue
        FROM
        ( SELECT DISTINCT TagName FROM T_DayData ) X
        LEFT JOIN (
        SELECT
        TagName,
        TagValue
        FROM
        T_DayData A
        WHERE
        DataTime = (
        SELECT MAX
        ( DataTime )
        FROM
        T_DayData B
        WHERE
        A.TagName = B.TagName
        AND CONVERT ( VARCHAR ( 7 ), B.DataTime , 120 ) = CONVERT ( VARCHAR ( 7 ), DATEADD( MONTH, - 1, #{queryTime} ),
        120 )
        )
        ) Y ON X.TagName = Y.TagName
        ) N ON M.TagName = N.TagName
        ) T
        WHERE
        T.TagName = VI.tag_name
        AND VI.[disable] != 1
        AND VI.total_flag = 1
        <if test="plantId!=null">
            AND plant_id = #{plantId, jdbcType=INTEGER}
        </if>
        GROUP BY plant_id
    </select>
    <select id="selectClassList" resultType="map">
        SELECT
            class_id classId,
            class_name className,
            class_description classDescription
        FROM
            S_Class
    </select>
    <select id="selectEnergyTypeList" resultType="map">
        SELECT
            energy_type_id energyTypeId,
            energy_type_name energyTypeName,
            energy_type_description energyTypeDescription
        FROM
            S_EnergyType
    </select>
    <select id="selectSignalTypeList" resultType="map">
        SELECT
            signal_type_id	 signalTypeId,
            signal_type_name signalTypeName,
            signal_type_description signalTypeDescription
        FROM
            S_SignalType
    </select>
    <select id="selectSystemList" resultType="map">
        SELECT
            system_id systemId,
            system_name systemName,
            system_description systemDescription
        FROM
            S_System
    </select>

    <select id="selectBuildingYearDosage" parameterType="map" resultType="map">
        SELECT
        building_id,
        buildingName,
        ( currentWaterSumValue - preWaterSumValue ) currentWaterSumValue,
        ( currentElectricitySumValue - preElectricitySumValue ) currentElectricitySumValue,
        ( currentAirSumValue - preAirSumValue ) currentAirSumValue,
        ( currentSteamSumValue - preSteamSumValue ) currentSteamSumValue
        FROM
        (
        SELECT
        building_id,
        ( SELECT building_name FROM O_3Building WHERE id = building_id ) buildingName,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        preElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentSteamSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preSteamSumValue
        FROM
        Variable_Info M,
        (
        SELECT
        TagName,
        ( SELECT CAST ( TagValue AS DECIMAL ( 20, 2 ) ) FROM RTable B WHERE A.TagName = B.TagName ) cur,
        (
        SELECT
        TagValue
        FROM
        T_DayData D
        WHERE
        A.TagName = D.TagName
        AND D.DataTime = (
        SELECT MAX
        ( E.DataTime )
        FROM
        dbo.T_DayData E
        WHERE
        D.tagname = E.tagname
        AND YEAR(E.DataTime) = YEAR(DATEADD( YEAR, - 1, GETDATE( ) ))
        )
        ) pre
        FROM
        T_DayData A
        GROUP BY
        TagName
        ) N
        WHERE
        M.tag_name = N.TagName
        AND M.[disable] != 1
        AND M.total_flag = 1
        GROUP BY
        building_id
        ) T
        <where>
            <if test="buildingId!=null">
                AND building_id = #{buildingId, jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectBuildingMonthDosage" parameterType="map" resultType="map">
        SELECT
        building_id,
        buildingName,
        ( currentWaterSumValue - preWaterSumValue ) currentWaterSumValue,
        ( currentElectricitySumValue - preElectricitySumValue ) currentElectricitySumValue,
        ( currentAirSumValue - preAirSumValue ) currentAirSumValue,
        ( currentSteamSumValue - preSteamSumValue ) currentSteamSumValue,
        ( preWaterSumValue - twoPreWaterSumValue ) preWaterSumValue,
        ( preElectricitySumValue - twoPreElectricitySumValue ) preElectricitySumValue,
        ( preAirSumValue - twoPreAirSumValue ) preAirSumValue,
        ( preSteamSumValue - twoPreSteamSumValue ) preSteamSumValue
        FROM
        (
        SELECT
        building_id,
        ( SELECT building_name FROM O_3Building WHERE id = building_id ) buildingName,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        preElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentSteamSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preSteamSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.twoPre ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        twoPreWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.twoPre ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        twoPreElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.twoPre ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        twoPreAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.twoPre ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        twoPreSteamSumValue
        FROM
        Variable_Info M,
        (
        SELECT
        TagName,
        ( SELECT CAST ( TagValue AS DECIMAL ( 20, 2 ) ) FROM RTable B WHERE A.TagName = B.TagName ) cur,
        (
        SELECT
        TagValue
        FROM
        T_DayData D
        WHERE
        A.TagName = D.TagName
        AND D.DataTime = (
        SELECT MAX
        ( E.DataTime )
        FROM
        dbo.T_DayData E
        WHERE
        D.tagname = E.tagname
        AND CONVERT ( VARCHAR ( 7 ), E.DataTime, 120 ) = CONVERT ( VARCHAR ( 7 ), DATEADD( MONTH, - 1, GETDATE( ) ), 120
        )
        )
        ) pre,
        (
        SELECT
        TagValue
        FROM
        T_DayData D
        WHERE
        A.TagName = D.TagName
        AND D.DataTime = (
        SELECT MAX
        ( E.DataTime )
        FROM
        dbo.T_DayData E
        WHERE
        D.tagname = E.tagname
        AND CONVERT ( VARCHAR ( 7 ), E.DataTime, 120 ) = CONVERT ( VARCHAR ( 7 ), DATEADD( MONTH, - 2, GETDATE( ) ), 120
        )
        )
        ) twoPre
        FROM
        T_DayData A
        GROUP BY
        TagName
        ) N
        WHERE
        M.tag_name = N.TagName
        AND M.[disable] != 1
        AND M.total_flag = 1
        GROUP BY
        building_id
        ) T
        <where>
            <if test="buildingId!=null">
                AND building_id = #{buildingId, jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectBuildingDayDosage" parameterType="map" resultType="map">
        SELECT
        building_id,
        buildingName,
        ( currentWaterSumValue - preWaterSumValue ) currentWaterSumValue,
        ( currentElectricitySumValue - preElectricitySumValue ) currentElectricitySumValue,
        ( currentAirSumValue - preAirSumValue ) currentAirSumValue,
        ( currentSteamSumValue - preSteamSumValue ) currentSteamSumValue
        FROM
        (
        SELECT
        building_id,
        ( SELECT building_name FROM O_3Building WHERE id = building_id ) buildingName,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preWaterSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        preElectricitySumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preAirSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) )
        currentSteamSumValue,
        CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preSteamSumValue
        FROM
        Variable_Info M,
        (
        SELECT
        TagName,
        ( SELECT CAST ( TagValue AS DECIMAL ( 20, 2 ) ) FROM RTable B WHERE A.TagName = B.TagName ) cur,
        (
        SELECT
        TagValue
        FROM
        T_HourData D
        WHERE
        A.TagName = D.TagName
        AND D.DataTime = (
        SELECT MAX
        ( E.DataTime )
        FROM
        dbo.T_HourData E
        WHERE
        D.tagname = E.tagname
        AND CONVERT ( VARCHAR ( 10 ), E.DataTime, 120 ) = CONVERT ( VARCHAR ( 10 ), DATEADD( DAY, - 1, GETDATE( ) ), 120
        )
        )
        ) pre
        FROM
        T_HourData A
        GROUP BY
        TagName
        ) N
        WHERE
        M.tag_name = N.TagName
        AND M.[disable] != 1
        AND M.total_flag = 1
        GROUP BY
        building_id
        ) T
        <where>
            <if test="buildingId!=null">
                AND building_id = #{buildingId, jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectBuildingDistribution" resultType="map">
        SELECT
            building_id buildingId,
            building_name buildingName
        FROM
            building_distribution A
            JOIN O_3Building B ON A.building_id = B.id
    </select>

    <select id="selectBuildingMainMPValue" resultType="map" parameterType="java.lang.Integer">
        SELECT
        building_id buildingId,
        building_name buildingName,
        tag_name tagName,
        CAST (TagValue AS DECIMAL (20,2)) tagValue,
        A.[description]
        FROM
        Variable_Info A,
        RTable B
        <where>
            A.tag_name = B.TagName
            AND A.main_tag = 1
            AND A.[disable] != 1
            <if test="buildingId!=null">
                AND building_id = #{buildingId,jdbcType = INTEGER}
            </if>
        </where>
    </select>

    <select id="selectHomePageChartSettingList" resultType="map">
        SELECT
            A.id,
            A.placeholder_id placeholderId,
            TagName tagName,
            CAST (TagValue AS DECIMAL (20,2)) tagValue,
            A.description
        FROM
            home_page_chart_setting A,
            RTable B
        WHERE
            A.tag_name = B.TagName
    </select>

    <select id="selectYearTotal" resultType="map">
        SELECT 
            CAST( SUM ( CASE WHEN energy_type_name = '水' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) currentWaterSumValue,
            CAST ( SUM ( CASE WHEN energy_type_name = '水' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preWaterSumValue,
            CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) currentElectricitySumValue,
            CAST ( SUM ( CASE WHEN energy_type_name = '电' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preElectricitySumValue,
            CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) currentAirSumValue,
            CAST ( SUM ( CASE WHEN energy_type_name = '空气' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preAirSumValue,
            CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.cur ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) currentSteamSumValue,
            CAST ( SUM ( CASE WHEN energy_type_name = '蒸汽' THEN N.pre ELSE 0 END ) AS NUMERIC ( 20, 2 ) ) preSteamSumValue
        FROM
            Variable_Info M,
            (
            SELECT
                TagName,
                ( SELECT CAST ( TagValue AS DECIMAL ( 20, 2 ) ) FROM RTable B WHERE A.TagName = B.TagName ) cur,
                (
                SELECT
                    TagValue
                FROM
                    T_HourData D
                WHERE
                    A.TagName = D.TagName
                    AND D.DataTime = (
                    SELECT MAX
                        ( E.DataTime )
                    FROM
                        dbo.T_HourData E
                    WHERE
                        D.tagname = E.tagname
                        AND YEAR ( E.DataTime ) = YEAR ( DATEADD( YEAR, - 1, getDate( ) ) )
                    )
                ) pre
            FROM
                T_HourData A
            GROUP BY
                TagName
            ) N
        WHERE
            M.tag_name = N.TagName
            AND M.[disable] != 1
            AND M.total_flag = 1
    </select>

</mapper>